p
{
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 16px;
	margin-top:40px;
    color:steelblue;
}

a
{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 16px;
	color:blue;
}


h1 {
    color: lightgray;
    text-align: center;
}

h2 {
    color: steelblue;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    -webkit-box-shadow: 0 0px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 0px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 0px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:blue;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}


select option {
    margin:40px;
    background: steelblue;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
	border-style:none;
}


#submit
{
	margin-top:70px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	background: steelblue;
	padding: 10px 20px 20px 20px;
	text-decoration: none;
	border-style:none;
	width:100px;
	height:40px;
}

#submit:hover
{
	cursor:pointer;
}

#calendar,#timezone
{
	font-style:
}